*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.header_container{
    background-color:bisque;
    width:100%;
    height:100px;
    display:flex;
    flex-direction: row;
    align-items: center;
    
}
div.header_container{
    margin:10px;
    color:brown;
    padding: 5px;
    font-size:5px;
}
.logo{
    position: absolute;
    left:2%;
}
.search{
    position: absolute;
    left:36%;
    z-index:2;
    text-align: center;
}
.search_box{
    position: absolute;
    right:50%;
    z-index:1;
}
.sign_in{
    position: absolute;
    right:22%;
}
.sign_up{
    position: absolute;
    right:16%;
}
.wlist{
    position: absolute;
    right:8%;
}
.cart{
    position: absolute;
    right:2%;
}
input[type=text] {
    width: 200%;
    padding: 10px;
}
ul {
    list-style-type: none;
    margin:0px;
    padding:0px;
    background-color: #333 ;
    width:100%;
    overflow: hidden;
    display:flex;
    justify-content:start;
    position: sticky;
    top:0px;
}

li a{

    display: block;
    color:white;
    text-align: center;
    padding:20px;
    font-size: medium;
    text-decoration:none;
}

li a:hover:not(.active){
    background-color:#111;
}
.active{
    background-color:#04AA6D;
}
.ad_container{
    background-color:white;
    border:1px solid #E7E9EB;
    width: 100%;
    height:300px;
    position: relative;
}
.ad_table{
    background-color: white;
    position: absolute;
    border:1px solid rgb(13, 83, 152);
    overflow:hidden;
    top:10%;
    bottom:10%;
    left: 3%;
    right: 3%;
    z-index: 1;
}
.ad_table1{
    display: flex;
    justify-content: space-evenly;
}
.right_bar{
    background-color: white;
    position: absolute;
    border:1px solid white;
    border-radius:2px;
    right:10px;
    top:120px;
    z-index: 2;
}
.right_bar:hover{
    background-color:#E7E9EB;
    border:1px solid rgb(6, 7, 8);
}
.left_bar{
    background-color: white;
    position: absolute;
    border:1px solid white;
    border-radius:2px;
    left:10px;
    top:120px;
    z-index: 2;
}
.left_bar:hover{
    background-color:#E7E9EB;
    border:1px solid rgb(6, 7, 8);
}
.circle{
    position: absolute;
    bottom: 4px;
    left: 48%;
}
.circle1{
    background-color:#E7E9EB;
    border:50% solid rgba(0, 0, 0, 0.916);
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50px;
}
.circle2{
    background-color:rgba(0, 0, 0, 0.8);
    border:50% solid rgba(0, 0, 0, 0.132);
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50px;
}
.circle3{
    background-color:#E7E9EB;
    border:50% solid rgba(0, 0, 0, 0.916);
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50px;
   
}
.circle1:hover{
    background-color:#111;

}
.circle2:hover{
    background-color:black;
}
.circle3:hover{
    background-color:#333;
}
.category_block{
    background-color:rgba(0, 128, 0, 0.571);
    width: 100%;
    height:50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top:15px;
}
.grid_container {
    background-color:#eeeeee;
    display: grid;
    width:100%;
    height:1100px;
    grid-template: repeat(3,320px)/repeat(4,200px);
    justify-content: center;
    gap:30px 70px;
    padding-bottom: 40px;
    padding-top: 40px;
    
}
  
.grid_container > div {
    
    background-color:white;
    border: 1.5px solid rebeccapurple;
    border-radius: 5px;
    padding:10px;
    
}
.grid_container > div:hover {
    border:1.5px solid black;
    background-color:antiquewhite; 
}
.img1{
    height: 250px;
    width: 180px;
}
.para{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:#111;
}
.ad_box{
    background-color: white;
    border-bottom: 0.5px solid lavender;
    border-top: 0.5px solid lavender;
    width:100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.middle_box{
    background-color:whitesmoke;
    border: 0.3px solid lavender;
    border-radius: 7px;
    width:500px;
    height: 400px;
    padding: 20px 50px 0px 50px;
    position: relative;
}
.middle_box:hover{
    border: 1px solid black;
}
.ad_img{
    position: absolute;
    left: 180px;
    border: 1px solid lavender;
    border-radius: 3px;
}
.ad_img:hover{
    border: 1px solid black;
}

.right_bar1{
    background-color: white;
    position: absolute;
    border:1px solid black;
    border-radius:2px;
    right:250px;
    top:200px;
    
}
.right_bar1:hover{
    background-color:#E7E9EB;
    border:1px solid rgb(6, 7, 8);
}
.left_bar1{
    background-color: white;
    position: absolute;
    border:1px solid black;
    border-radius:2px;
    left:250px;
    top:200px;
    
}
.left_bar1:hover{
    background-color:#E7E9EB;
    border:1px solid rgb(6, 7, 8);
}
.ad_table2{
    background-color:rgba(218, 218, 227, 0.363);
    width: 94%;
    height: 270px;
    border: 0.5px solid rgba(255, 0, 0, 0.507);
    justify-content: start;
    padding: 20px;
    margin-left:40px;
    position: relative;
}
.ad_table3{
    position: absolute;
    background-color:white;
    border: 1.5px solid lavenderblush;
    width: 380px;
    height:230px;
    padding:10px;
    left: 50px;
}
.ad_table3:hover{
    border:1px solid rgb(6, 7, 8);
}
.ad_offer{
    position: absolute;
    background-color: #04AA6D;
    width:38px;
    height:20px;
    padding-left:2px;
    border: 1px solid rgba(0, 0, 0, 0.429);
    top:0px;
    left:0px;
}
.ad_offer1{
    position: absolute;
    background-color: #04AA6D;
    width:38px;
    height:20px;
    padding-left:2px;
    top:0px;
    left:0px;
}
.ad_table4{
    position: absolute;
    background-color:white;
    border: 1.5px solid lavenderblush;
    width: 380px;
    height:230px;
    padding:10px;
    padding-left: 100px;
    padding-bottom:25px;
    right:300px;
}
.ad_table4:hover{
    border:1px solid rgb(6, 7, 8);
}
.ad_para{
    color:red;
    position: absolute;
    right:90px;
}
.ad_icons{
    display: inline;
    position: absolute;
    background-color:white;
    border: 1px solid rgba(255, 0, 0, 0.507);
    width: 60px;
    height:30px;
    padding:5px;
    right:0px;
    top:0px;
}
.ad_icons:hover{
    background-color: rgba(255, 0, 0, 0.509);
}
.footer{
    position: relative;
    background-color:lightgray;
    width: 100%;
    height: 350px;
    padding: 20px;
}
.foot_logo{
    position: absolute;
    top:40%;
    left:10%;
    color:red;
    font-weight: bold;
}
.foot_title1{
    position: absolute;
    color:blue;
    font-size: 20px;
    font-weight: bold;
    top:35px;
    left:36%;
}
.foot_para1{
    position:absolute;
    top:55px;
    left:39%;
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
}
.foot_title2{
    position: absolute;
    color:blue;
    font-size: 20px;
    font-weight: bold;
    top:35px;
    right:27%;
}
.foot_para2{
    position:absolute;
    top:55px;
    right:15%;
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
}
.foot_para3{
    position:absolute;
    bottom:5%;
    left:9%;
    font-family: 'Times New Roman', Times, serif;
    font-size:medium;
    letter-spacing: 3px;
}
.foot_box{
    position: absolute;
    background-color:lightgrey;
    border: 1px solid black;
    padding:12px;
    bottom:5%;
    left:45%;
}
.foot_box:hover{
    border: 1.6px solid black;
}